---
title: Jamie's AirBnb Middleman Clone
---
<div id="home">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
    <div class="banner-content">
      <h1>Airbnb</h1>
      <p>Book unique homes and experience a city like a local.</p>
      <a class="btn btn-primary btn-lg">Start now</a>
    </div>
  </div>

  <div class="flats-wrapper">
    <div class="container">
      <h2 class="text-center">Featured Flats</h2>
      <div class="flats">
        <% data.flats.each do |flat|%>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city %>');">
              <div class="card-category">Popular</div>
              <div class="card-description">
                <h2><%= flat.city.capitalize %></h2>
                <p>Very cool <%= flat.type %> with <%= flat.bedrooms %> bedrooms</p>
              </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
